<h2 class="text-center"  mat-dialog-title>{{data.id ? 'Edit post ':'Add new post'}} </h2>
 <div mat-dialog-content>
     <form [formGroup]="form" class="row gx-2">
         <mat-form-field appearance="outline" class="col-sm-6">
             <mat-label>First Name</mat-label>
             <input matInput  formControlName="firstName" placeholder="Ali" type="text" />
         </mat-form-field>               
         <mat-form-field appearance="outline" class="col-sm-6">
             <mat-label>Last Name</mat-label>
             <input matInput  formControlName="lastName" placeholder="Aliev" type="text" />
         </mat-form-field>               
         <mat-form-field appearance="outline" class="col-sm-6">
             <mat-label>Avatar link</mat-label>
             <input matInput  formControlName="avatar" placeholder="www.photo..." type="text" />
         </mat-form-field>               
         <mat-form-field appearance="outline" class="col-sm-6">
             <mat-label>Language</mat-label>
             <input matInput  formControlName="language" placeholder="English" type="text" />
         </mat-form-field>               
         <mat-form-field appearance="outline" class="col-sm-6">
             <mat-label>Company</mat-label>
             <input matInput  formControlName="company" placeholder="Google" type="text" />
         </mat-form-field>               
         <mat-form-field appearance="outline" class="col-sm-6">
             <mat-label>University</mat-label>
             <input matInput  formControlName="university" placeholder="MIT" type="text" />
         </mat-form-field>               
     </form>
  </div>
  <mat-dialog-actions align="end">    
     <button mat-raised-button   [mat-dialog-close]="">Cancel</button>
     <button mat-raised-button color="primary" [disabled] = "form.invalid" mat-button (click)="closeDialog()" cdkFocusInitial>Save</button>
 </mat-dialog-actions>
   