<header class="bg-light">
  <div class="container">
    <nav class="row py-2">
      <div class="col-md-6 text-md-start text-center">
        <a href="#">
          <img
            src="../../../assets/img/logo.png"
            alt="Company Logo"
            class="logo"
          />
        </a>
      </div>
      <div class="col-md-6">
        <ul class="nav justify-content-sm-around justify-content-md-start">
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="new-item">Users</a>
          </li>
          <li class="nav-item">
            <a
            class="nav-link"
            routerLink=""
            routerLinkActive="active"
            >Posts</a
            >
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
